@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #777;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #757575;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #757575;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #757575;
}

::-moz-selection {
  color: #fff;
  background: #757575;
}

::selection {
  color: #fff;
  background: #757575;
}

.gtco-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .gtco-nav {
    padding: 20px 0;
  }
}
.gtco-nav #gtco-logo {
  font-size: 36px;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}
.gtco-nav #gtco-logo em {
  color: #fff;
  font-weight: 100;
  font-style: normal;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 25px;
}
.gtco-nav #gtco-logo a {
  padding: 0px 10px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .gtco-nav .menu-1, .gtco-nav .menu-2 {
    display: none;
  }
}
.gtco-nav ul {
  padding: 0;
  margin: 1px 0 0 0;
}
.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.gtco-nav ul li a {
  font-size: 14px;
  padding: 30px 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400 !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gtco-nav ul li a:hover, .gtco-nav ul li a:focus, .gtco-nav ul li a:active {
  color: #fff;
}
.gtco-nav ul li.has-dropdown {
  position: relative;
}
.gtco-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.gtco-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.gtco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.gtco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.gtco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.gtco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.gtco-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}
.gtco-nav ul li.has-dropdown:hover a, .gtco-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.gtco-nav ul li.btn-cta a {
  color: #fff;
}
.gtco-nav ul li.btn-cta a span {
  border: none !important;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.gtco-nav ul li.btn-cta a:hover span {
  background: #757575;
  color: #fff;
}
.gtco-nav ul li.active > a {
  color: #fff !important;
}
.gtco-nav.scrolled {
  background: #fff;
  webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.gtco-nav.scrolled ul {
  padding: 0;
  margin: 1px 0 0 0;
}
.gtco-nav.scrolled ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.gtco-nav.scrolled ul li a {
  color: rgba(0, 0, 0, 0.5);
}
.gtco-nav.scrolled ul li a:hover {
  color: black;
}
.gtco-nav.scrolled ul li.active > a {
  color: #757575 !important;
}
.gtco-nav.scrolled ul li.btn-cta a {
  color: #fff;
}
.gtco-nav.scrolled ul li.btn-cta a span {
  border: none !important;
  background: #757575;
  padding: 4px 20px;
  color: #fff;
}
.gtco-nav.scrolled #gtco-logo em, .gtco-nav.scrolled #gtco-logo a {
  color: #000;
}

#gtco-hero .gtco-video-link a {
  color: rgba(255, 255, 255, 0.5);
}
#gtco-hero .gtco-video-link a i {
  font-size: 78px;
  top: 2px;
  position: relative;
  color: #fff;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#gtco-hero .gtco-video-link a:hover {
  color: white;
}
#gtco-hero .gtco-video-link a:hover i {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#gtco-hero .btn-explore{
  border-radius: 3rem;
  height: 6rem;
  background-color: #757575;
  font-size: 20px;
  color: white;
  width: fit-content;
}
#gtco-hero .btn-explore:hover{
  background-color: grey;
  color: #000;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  #gtco-hero .text-left {
    text-align: center !important;
  }
}
@media screen and (max-width: 480px) {
  #gtco-hero .btn {
    width: 60%;
    height: 5rem;
  }
}

#gtco-header,
#gtco-counter,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.gtco-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.gtco-cover {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
.gtco-cover a {
  color: #757575;
}
.gtco-cover a:hover {
  color: white;
}
.gtco-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(35, 35, 35, 0.5);
}
.gtco-cover > .container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .gtco-cover {
    height: 600px;
  }
}
.gtco-cover .display-t,
.gtco-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gtco-cover .display-t,
  .gtco-cover .display-tc {
    height: 600px;
  }
}
.gtco-cover.gtco-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm {
    height: 400px;
  }
}
.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
    height: 400px;
  }
}
.gtco-cover.gtco-cover-xs {
  height: 500px;
}
@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}
.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-xs .display-t,
  .gtco-cover.gtco-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}
.gtco-cover.gtco-cover-xxs {
  padding: 3em 0;
}
.gtco-cover .btn-primary {
  color: #fff !important;
}

#gtco-about,
#gtco-practice-areas,
#gtco-our-team,
#gtco-contact {
  padding: 7em 0;
  clear: both;
}

#gtco-about .img-shadow {
  position: relative;
  background: #757575;
  width: 100%;
  float: left;
}
#gtco-about .img-shadow img {
  position: relative;
  top: -20px;
  left: -20px;
}
#gtco-about .heading {
  position: relative;
}


#gtco-practice-areas .heading {
  position: relative;
}
#gtco-practice-areas .heading .subtle-text {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  text-transform: uppercase;
  font-size: 120px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
#gtco-practice-areas .heading .subtle-text span {
  display: block;
}
#gtco-practice-areas .gtco-practice-area-item {
  margin-bottom: 30px;
}
#gtco-practice-areas .gtco-practice-area-item .gtco-icon,
#gtco-practice-areas .gtco-practice-area-item .gtco-copy {
  display: table-cell;
  vertical-align: top;
}
#gtco-practice-areas .gtco-practice-area-item .gtco-icon {
  width: 100px;
}
@media screen and (max-width: 768px) {
  #gtco-practice-areas .gtco-practice-area-item .gtco-icon {
    width: 70px;
  }
}
#gtco-practice-areas .gtco-practice-area-item .gtco-copy h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

#gtco-our-team .heading {
  position: relative;
}
#gtco-our-team .heading .subtle-text {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  text-transform: uppercase;
  font-size: 120px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
#gtco-our-team .heading .subtle-text span {
  display: block;
}
#gtco-our-team .team-item {
  margin-bottom: 9em;
}
#gtco-our-team .team-item:last-child {
  margin-bottom: 0;
}
#gtco-our-team .gtco-team-reverse .img-shadow,
#gtco-our-team .gtco-team .img-shadow {
  position: relative;
  background: #757575;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
#gtco-our-team .gtco-team-reverse .img-shadow img,
#gtco-our-team .gtco-team .img-shadow img {
  position: relative;
  top: -20px;
  right: -20px;
}
#gtco-our-team .gtco-team .img-shadow img {
  top: -20px;
  left: -20px;
}

#gtco-contact .heading {
  position: relative;
}

#gtco-contact .heading .subtle-text span {
  display: block;
}
#gtco-contact .form-group {
  margin-bottom: 30px;
}
#gtco-contact .form-control {
  height: 70px;
  font-size: 18px;
  box-shadow: none !important;
  border: 1px solid #cccccc;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}
#gtco-contact textarea {
  height: inherit !important;
  resize: vertical;
}

.heading {
  text-align: center;
  margin-bottom: 70px;
}
.heading h1 {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 20px;
  }
}
.heading .sub {
  position: relative;
  padding-bottom: 40px;
  font-size: 18px;
  color: #757575;
}
.heading .sub:after {
  bottom: 0;
  left: 50%;
  margin-left: -36px;
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  background: #757575;
}

.heading-colored {
  padding-top: 0px;
  color: #757575;
}

.read-more i {
  position: relative;
  top: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.read-more:hover i {
  padding-left: 10px;
}

.gtco-social-icons {
  margin: 0;
  padding: 0;
}
.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.gtco-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #757575;
  padding-left: 10px;
  padding-right: 10px;
}
.gtco-social-icons li a i {
  font-size: 20px;
}

.gtco-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
.gtco-contact-info ul {
  padding: 0;
  margin: 0;
  clear: both;
}
.gtco-contact-info ul li {

  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
.gtco-contact-info ul li:before {
  color: #757575;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gtco-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.gtco-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.gtco-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.gtco-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

form label {
  font-weight: normal !important;
}

#gtco-header .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#gtco-header .display-tc h1, #gtco-header .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#gtco-header .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 30px;
  font-size: 59px;
  line-height: 1.5;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  #gtco-header .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
#gtco-header .display-tc h2,
.gtco-cover .display-tc h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#gtco-footer {
  padding-top: 30px;
  background: #fafafa;
}
#gtco-footer .gtco-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}
#gtco-footer .gtco-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}
#gtco-footer .gtco-footer-links li a {
  text-decoration: none;
}
#gtco-footer .gtco-footer-links li a:hover {
  text-decoration: underline;
}
#gtco-footer .gtco-widget {
  margin-bottom: 30px;
}
#gtco-footer .gtco-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#gtco-footer .gtco-widget .gtco-quick-contact {
  padding: 0;
  margin: 0;
}
#gtco-footer .gtco-widget .gtco-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#gtco-footer .gtco-widget .gtco-quick-contact li i {
  width: 30px;
  float: left;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@media screen and (max-width: 768px) {
  #gtco-footer .copyright .pull-left,
  #gtco-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}
#gtco-footer .copyright .block {
  display: block;
}

#gtco-offcanvas {
  position: absolute;
  position: fixed;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #gtco-offcanvas {
    display: block;
  }
}
.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#gtco-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}
#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#gtco-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after {
  background: #444;
}
.gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.gtco-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.gtco-nav-toggle i::before, .gtco-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.gtco-nav-toggle.gtco-nav-white > i {
  color: #fff;
  background: #fff;
}
.gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after {
  background: #fff;
}

.gtco-nav-toggle i::before {
  top: -7px;
}

.gtco-nav-toggle i::after {
  bottom: -7px;
}

.gtco-nav-toggle:hover i::before {
  top: -10px;
}

.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

.gtco-nav-toggle.active i {
  background: transparent;
}

.gtco-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.gtco-nav-toggle {
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .gtco-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #757575;
  color: #fff;
  border: 2px solid #757575 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #8bde2f !important;
  border-color: #8bde2f !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #757575;
  border: 2px solid #757575;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #757575;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

#gtco-contact h3 {
  color: #fff;
  font-size: 30px;
}

.row-pb-md {
  padding-bottom: 1rem !important;
  padding-top: 8rem;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.gtco-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

.footer {
  padding: 90px 0 80px !important;
  color: #999;
  background: #252525;
}
.footer .widget-title {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.footer .widget-title small {
  color: #999;
  display: block;
  padding: 0 58px;
  text-transform: uppercase;
}
.footer .widget-title h3 {
  color: #fff;
  font-weight: 300;
  font-size: 21px;
  padding: 0;
  margin: 0;
  line-height: 1 !important;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links a {
  color: #999;
}
.footer-links a:hover,
.footer a:hover {
  color: #f4f4f4 !important;
}
.footer-links li {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}
.twitter-widget li {
  margin-bottom: 0;
  border: 0 !important;
}
.twitter-widget li i {
  border-right: 0 !important;
  margin-right: 0;
}
.footer-links li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
.footer-links i {
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
}
.copyrights {
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  background-color: #1f1f1f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 30px 60px;
  overflow: hidden;
}
.footer-distributed {
  font-size: 14px;
}
.app_version .global-radius.effect-1 {
  border: solid #fff 1px !important;
  box-shadow: 0 0px 60px -21px #000;
}
.post-media.entry {
  height: 250px;
  border: solid #ddd 2px;
}
.post-media.entry img {
  border-radius: 0 !important;
}
/* Footer left */

.footer-distributed .footer-left {
  float: left;
}
.footer-distributed .footer-links {
  margin: 0 0 10px;
  text-transform: uppercase;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  margin: 0 10px 0 10px;
  text-decoration: none;
}
.footer-distributed .footer-company-name {
  font-weight: 300;
  margin: 0 10px;
  color: #666;
  padding: 0;
}
/* Footer right */

.footer-distributed .footer-right {
  float: right;
}
/* The search form */

.footer-distributed form {
  position: relative;
}
.footer-distributed form input {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #181818;
  border: none;
  font: inherit;
  font-size: 15px;
  font-weight: normal;
  color: #999;
  width: 400px;
  padding: 18px 50px 18px 18px;
}
.footer-distributed form input:focus {
  outline: none;
}
/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
  color: #999;
}
.footer-distributed form input::-moz-placeholder {
  opacity: 1;
  color: #999;
}
.footer-distributed form input:-ms-input-placeholder {
  color: #999;
}
/* The magnify glass icon */

.footer-distributed form i {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 18px;
  color: #999;
  font-size: 18px;
  margin-top: 6px;
}
.android-btn{
  background-color: #181818;
  width: 100%;
}
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    h1,h2,h3,h4,h5,h6{
      font-size: 18px;
    }
    p{
      font-size: 17px;
    }
    btn{
      width: 80%;
    }
  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 492px) { 
  h1,h2,h3,h4,h5,h6{
    font-size: 17px;
  }
  p{
    font-size: 16px;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 320px) { 
  body{
    font: 18px;
  }
  a,li{
    font-size: 16.5px;
  }
  p{
    font-size:16.5px;
  }
 }

/* Variables */
/* Cards Icon */
.popular-courses{
  padding: 6rem 2rem;
}
.icon-cards {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* This rotates with the animation */
  /* Individual cards */
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-145px) rotateY(0);
          transform: translateZ(-145px) rotateY(0);
  -webkit-animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
          animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 150px;
  background: #999999;
  opacity: .8;
  border-radius: 6px;
}
.icon-cards__item:nth-child(1) {
  -webkit-transform: rotateY(72deg) translateZ(145px);
          transform: rotateY(72deg) translateZ(145px);
}
.icon-cards__item:nth-child(2) {
  -webkit-transform: rotateY(144deg) translateZ(145px);
          transform: rotateY(144deg) translateZ(145px);
}
.icon-cards__item:nth-child(3) {
  -webkit-transform: rotateY(216deg) translateZ(145px);
          transform: rotateY(216deg) translateZ(145px);
}
.icon-cards__item:nth-child(4) {
  -webkit-transform: rotateY(288deg) translateZ(145px);
          transform: rotateY(288deg) translateZ(145px);
}
.icon-cards__item:nth-child(5) {
  -webkit-transform: rotateY(360deg) translateZ(145px);
          transform: rotateY(360deg) translateZ(145px);
}

/* Animation */
@-webkit-keyframes carousel {
  0%,  15% {
    -webkit-transform: translateZ(-145px) rotateY(0);
            transform: translateZ(-145px) rotateY(0);
  }
  25%, 40% {
    -webkit-transform: translateZ(-145px) rotateY(-72deg);
            transform: translateZ(-145px) rotateY(-72deg);
  }
  50%, 65% {
    -webkit-transform: translateZ(-145px) rotateY(-144deg);
            transform: translateZ(-145px) rotateY(-144deg);
  }
  75%, 90% {
    -webkit-transform: translateZ(-145px) rotateY(-216deg);
            transform: translateZ(-145px) rotateY(-216deg);
  }
}
@keyframes carousel {
  0%,  15% {
    -webkit-transform: translateZ(-145px) rotateY(0);
            transform: translateZ(-145px) rotateY(0);
  }
  25%, 40% {
    -webkit-transform: translateZ(-145px) rotateY(-72deg);
            transform: translateZ(-145px) rotateY(-72deg);
  }
  50%, 65% {
    -webkit-transform: translateZ(-145px) rotateY(-144deg);
            transform: translateZ(-145px) rotateY(-144deg);
  }
  75%, 90% {
    -webkit-transform: translateZ(-145px) rotateY(-216deg);
            transform: translateZ(-145px) rotateY(-216deg);
  }
}


.gtco-testimonials {
  position: relative;
  margin-top: 30px;
  padding: 3rem 3rem;
}
@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}
.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}
.subtle-text {
  position: absolute;
  bottom: -1em;
  left: 0;
  text-transform: uppercase;
  font-size: 100px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
@media (max-width: 767px){
  .subtle-text{
    font-size: 70px;
  }
}
.testimonials .subtle-text span {
  display: block;
}
.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}
.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
}
.gtco-testimonials .card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  outline: 0;
}

.slide-row {
padding: 50px 0px;
}
/* position dots in carousel */
.flickity-page-dots {
bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
width: 12px;
height: 12px;
opacity: 1;
background: transparent;
border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
background: white;
}

.carousel-cell {
  width:25%;
  padding:0px 5px;
}

.carousel-cell img {
  width:100% !important;
  height:auto;
}

@media (min-width: 768px) and (max-width:980px){
  .carousel-cell {
      width:33.333333%
  }
}
@media (max-width:767px){
  .carousel-cell {
      width:50%
  }
}
@media (max-width:479px){
  .carousel-cell {
      width:100%;
  }
}
/*Lower Page Dots*/
ol.flickity-page-dots {
bottom: -50px;
}

li.dot {
  border: 2px solid #00a3e0 !important;
}
.flickity-page-dots .dot.is-selected {
  background:  #00a3e0;
}

.carousel-card {
  height:300px!important;
 background:white;
 border-radius: 4px;
 box-shadow:0 0.0625rem 0.125rem 0 rgba(0,0,0,0.2)
}

.main-carousel .carousel-card .card-description {
      padding: 0.5em 0 0.5em 0.5em;
  text-overflow: ellipsis;
  white-space: inherit;
  overflow-x: hidden;
}
.card-description h4{
  font-size: 16px;
  font-weight: 600;
}
.card-description .writer{
  font-size: 13px;
  color: #444;
}
.checked {
  color: orange;
}

/* STart FAQ */
@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 2rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 2em 0;
}
/* End FAQ*/


.testimonial-container {
	background-color: rgba(245, 245, 245, 1);
	width: 100%;
}

.cd-testimonials-wrapper {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	background-color: rgba(245, 245, 245, 1);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 100px 0px 40px;
	z-index: 1;
}

.cd-testimonials-wrapper h2 {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 60px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.cd-testimonials-wrapper {
		padding: 170px 0px 60px;
	}
	.cd-testimonials-wrapper h2 {
		text-align: center;
		position: absolute;
		width: 100%;
		top: 100px;
		margin: 0 auto;
	}
}

.testimonial-content {
	max-width: 1000px;
	width: 80%;
	margin: 0 auto 30px auto;
}

.cd-testimonials {
	color: rgba(130, 132, 139, 1);
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.cd-testimonials > li {
	position: absolute;
	opacity: 0;
}

.cd-testimonials > li:first-child {
	position: relative;
	opacity: 1;
}

.testimonial-content p {
	font-style: italic;
	line-height: 1.4;
	margin-bottom: 1em;
	padding: 0 14px;
}

@media only screen and (min-width: 768px) {
	.testimonial-content p {
		font-size: 20px;
		font-family: 'Open Sans';
	}
}

@media only screen and (min-width: 1170px) {
	.testimonial-content p {
		font-size: 24px;
		line-height: 1.6;
	}
}

.cd-author-info span p {
	display: inline-block;
	font-size: 14px;
	padding-left: 0;
}

.cd-author-info span p a {
	color: rgba(126, 129, 136, 1);
}

.cd-author img,
.cd-author .cd-author-info {
	display: inline-block;
	vertical-align: top;
}

.cd-author img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 5px;
}

.cd-author .cd-author-info {
	text-align: left;
	line-height: 1
}

.cd-author .cd-author-info li:first-child {
	font-size: 14px;
	margin-top: 4px;
}

.cd-author .cd-author-info li:last-child {
	font-size: 12px;
	color: #6b6b70;
}

ul.cd-author-info {
	list-style: none;
}

ul.cd-author-info li span:before {
	font-family: 'FontAwesome';
	content: '\f099';
	font-size: 24px;
	display: inline-block;
	position: absolute;
	margin-top: 2px;
	font-style: normal;
	margin-left: -30px;
}

ul.cd-author-info li span {
	font-size: 14px;
	padding-left: 30px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
}

@media only screen and (min-width: 768px) {
	.cd-author img {
		width: 58px;
		height: 58px;
	}
	.cd-author .cd-author-info {
		line-height: 1.4;
	}
	.cd-author .cd-author-info li:first-child {
		font-size: 18px;
	}
}

@media only screen and (max-width: 320px) {}

.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 50px;
	height: 100%;
	margin: 0px 0 0;
	position: absolute;
	z-index: 9999;
	top: 0;
	overflow: hidden;
	opacity: 1;
	background: rgba(245, 245, 245, 1);
	cursor: pointer;
	color: rgba(255, 255, 255, .5);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.flex-direction-nav a:before {
	font-size: 40px;
	content: url('https://dl.dropboxusercontent.com/u/97609687/codepen/chevronleft.svg');
	position: absolute;
	display: block;
	top: 50%;
	padding: 14px 10px 14px 10px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.flex-direction-nav a.flex-next:before {
	content: url('https://dl.dropboxusercontent.com/u/97609687/codepen/chevronright.svg');
	padding: 14px 20px 14px 10px;
}

.flex-direction-nav .flex-prev {
	left: 0px;
}

.flex-direction-nav .flex-next {
	right: 0px;
	text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
	left: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
	right: 0px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity: 1;
}

.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
}

.flex-control-paging li a {
	width: 6px;
	height: 6px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(2, 23, 31, 1);
	cursor: default;
}

.flex-control-nav {
	bottom: 30px;
	position: absolute;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}

.flex-control-nav li {
	display: inline-block;
	padding: 0px 5px 0px 5px;
}

@media screen and (max-width: 767px) {
	.flex-direction-nav a {
		width: 30px;
	}
	.flex-direction-nav a:before {
		visibility: hidden;
	}
	.flex-direction-nav a:before {
		padding: 14px 0px 10px 0px;
	}
	.flex-direction-nav .flex-prev {
		left: 0px;
	}
	.flex-direction-nav .flex-next {
		right: 0px;
		text-align: right;
	}
	.flexslider:hover .flex-direction-nav .flex-prev {
		opacity: 1;
		left: 0px;
	}
	.flexslider:hover .flex-direction-nav .flex-prev:hover {
		opacity: 1;
	}
	.flexslider:hover .flex-direction-nav .flex-next {
		opacity: 1;
		right: 0px;
	}
	.flex-direction-nav {
		visibility: hidden;
	}
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel { 
  height: 350px;
  margin-bottom: 50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 130%;
  opacity: 0.6;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
 
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .carousel .item{
    height: 350px;
  }

}

.learn{
  padding-bottom: 3rem;
}
