<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./style1.css">
    <link rel="stylesheet" href="./style2.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Kohli Courses</title>
    <script>
      $(document).ready(function(){
      $('#searchbar-icon').click(function(){
        $('#searchbar-input').animate({width: 'toggle'});
        $("#searchbar-icon").toggle();
        $("#searchbar-cross").toggle(500);
      });
      
      $('#searchbar-cross').click(function(){
        $('#searchbar-input').animate({width: 'toggle'});
        $("#searchbar-cross").toggle();
        $("#searchbar-icon").toggle(500);
      });
    
  });
    </script>
</head>
<style>

</style>
<body>

<!-- Navbar (sit on top) -->

<nav class="gtco-nav" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div id="gtco-logo"><a href="index.html" style="text-decoration: none;"><em>Kohli Courses</em></a></div>
      </div>
      <div class="col-sm-4 col-xs-4 searchbar">
        <input type="text" id="searchbar-input" placeholder="Search for courses">
        <i class="fa fa-search" id="searchbar-icon" aria-hidden="true"></i>
        <i class="fa fa-times" id="searchbar-cross" aria-hidden="true"></i>
      </div>
      <div class="col-xs-2 col-sm-5 text-right menu-1 main-nav">
        <ul>
          <li><a href="#" data-nav-section="home" style="text-decoration: none;">Home</a></li>
          <li><a href="#" data-nav-section="about" style="text-decoration: none;">About</a></li>
          <li><a href="#" data-nav-section="courses" style="text-decoration: none;">Our Courses</a></li>
          <li class="btn-cta"><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
        </ul>
      </div>
    </div>
    
  </div>
</nav>

<header class="bgimg-1 w3-display" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small w3-center">Master MERN Stack</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium w3-center">Master MERN Stack</span><br>
    <span class="w3-xlarge w3-hide-small">Learn MERN Stack by building Full-stack React.js, Node.js, Express.js & MongoDB (MERN) application!</span><br><br>
    <span class="w3-large w3-hide-large w3-hide-medium w3-center">Learn MERN Stack by building Full-stack React.js, Node.js, Express.js & MongoDB (MERN) application!</span><br>
    <span class="checked">4.9</span>&nbsp;&nbsp;<span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>&nbsp;&nbsp;
    <span class="w3-medium"> (245 ratings)&ensp;36,522 students</span>
    <br><br>
    <span class="w3-xxmedium"><i class="fa fa-creative-commons" aria-hidden="true"></i>&ensp;Created by <a href="#">Sparsh Garg</a></span><br>
    <span class="w3-xxmedium"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&ensp;Last updated 5/2020</span>&emsp;
    <span class="w3-xxmedium"><i class="fa fa-globe" aria-hidden="true"></i>&ensp;English</span> 
    <p><a href="#" class="w3-button w3-white w3-padding-large col-sm-2 w3-large w3-margin-top w3-opacity w3-hover-opacity-off" style="text-decoration: none;">Enroll Now</a>&emsp;
    <a href="#" class="w3-button w3-black w3-padding-large col-sm-2 w3-large w3-margin-top w3-opacity w3-hover-opacity-off" style="text-decoration: none;"><i class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;Share</a>
    </p>
  </div> 
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
    <h3 class="w3-center"><b>ABOUT THE COURSE</b></h3>
    <p class="w3-center w3-large">Welcome to the "Master MERN Stack"  where we will be building application using MERN Stack (Node.js, Express, React, Redux and MongoDB).
    </p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-quarter">
        <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large">Frontend Using REACT.JS</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">EXPRESS.JS</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">DataBase using MONGODB</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Server-side Using NODE.JS</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
    </div>
  </div>

<!--Course content-->
<div class="w3-container w3-center" style="margin-top: 64px;">
    <h3 class="w3-center"><b>COURSE CONTENTS</b></h3>
    <p class="w3-center w3-large">4 sections • 22 lectures • 3h 15m total length<br><strong><span style="font-size: 30px;">What you'll learn</span></strong></p>
    <div class="w3-container">
      <button class="accordion"><span style="float: left;">1 lecture</span>&emsp;&ensp;<b>Introduction</b></button>
      <div class="panel">
        <a href="../index.html"><p>Course files<p style="float: right;">00:00</p></p></a>
      </div>
      
      <button class="accordion"><span style="float: left;">9 lectures</span>&emsp;<b>Module 1</b></button>
      <div class="panel">
        <span style="float: left;">Environment Setup</span><span style="float: right;">02:07</span><br><br>
        <span style="float: left;">Creating React app</span><span style="float: right;">02:04</span><br><br>
        <span style="float: left;">Converting HTML/CSS</span><span style="float: right;">07:04</span><br><br>
        <span style="float: left;">Lorem ipsum dolor.</span><span style="float: right;">02:20</span><br><br>
        <span style="float: left;">Lorem ipsum dolor</span><span style="float: right;">10:30</span><br><br>
        <span style="float: left;">Lorem ipsum dolor</span><span style="float: right;">01:29</span><br><br>
      </div>
      
      <button class="accordion"><span style="float: left;">9 lectures</span>&emsp;<b>Module 2</b></button>
      <div class="panel">
        <span style="float: left;">Building Backend</span><span style="float: right;">07:04</span><br><br>
        <span style="float: left;">Lorem ipsum dolor.</span><span style="float: right;">02:20</span><br><br>
        <span style="float: left;">Lorem ipsum dolor</span><span style="float: right;">10:30</span><br><br>
        <span style="float: left;">Lorem ipsum dolor</span><span style="float: right;">01:29</span><br><br>
      </div>

      <button class="accordion"><span style="float: left;">3 lectures</span>&emsp;<b>Module 3</b></button>
      <div class="panel">
        <span style="float: left;">From backend to React</span><span style="float: right;">07:04</span><br><br>
        <span style="float: left;">Lorem ipsum dolor</span><span style="float: right;">02:20</span><br><br>
        <span style="float: left;">Lorem ipsum dolor.</span><span style="float: right;">10:30</span><br><br>
        <span style="float: left;">Lorem ipsum dolor</span><span style="float: right;">01:29</span><br><br>
      </div>
    </div>
</div>
<!--Requirements-->
<div class="w3-container w3-center" style="margin-top: 64px;">
  <h3 class="w3-center"><b>ABOUT THE INSTRUCTORS</b></h3>
  <div class="w3-row-padding " style="margin-top:64px">
    <div class="w3-col l6 m6 w3-margin-bottom w3-center">
      <div class="w3-card">
        <img src="../images/rsz_20190112_173033.jpg" alt="Sparsh" style="height: 100px; border-radius: 50%; width: 100px;">
        <div class="w3-container">
          <h3>Sparsh Garg</h3>
          <p class="w3-opacity">Software Engineer, Certified Developer, Instructor</p>
          <p>I am Full Stack Software Engineer with the 6+ years of hands-on experience with a taste of different programming languages in various companies/startups. </p>
          <p><span class="fa fa-star checked "></span>&ensp;<span>4.8 Instructor Rating</span><br></p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l6 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="../images/download.jpg" alt="John" style="height: 100px; border-radius: 50%; width: 100px;">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">Web Developer, Certified Developer, Instructor</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><span class="fa fa-star checked "></span>&ensp;<span>4.1 Instructor Rating</span><br></p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64" style="margin-top: 64px;">
  <div class="w3-row-padding">
    <div class="w3-col w3-col-md-6 w3-col-sm-3 m2" style="padding-left: 2rem;">
      <h3 style="font-weight: 700;">STUDENTS FEEDBACK</h3><br>
      <span class="checked-1 w3-xxlarge w3-center" style="font-weight: 700;">4.7</span><br>
      <span class="fa fa-star checked-1"></span>
      <span class="fa fa-star checked-1"></span>
      <span class="fa fa-star checked-1"></span>
      <span class="fa fa-star checked-1"></span>
      <span class="fa fa-star checked-1"></span><br>
      <span class="checked-1" style="font-weight: 600;">COURSE RATING</span>
    </div>
    <div class="w3-col m8 w3-col-sm-4 w3-col-md-6">
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:95%"><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span>&emsp;95%</div>
      </div><br>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:80%"><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span>80%</div>
      </div><br>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:60%"><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span>60%</div>
      </div><br>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:33%"><span class="fa fa-star checked">&nbsp;</span><span class="fa fa-star checked">&nbsp;</span>23%</div>
      </div><br>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:28%"><span class="fa fa-star checked">&nbsp;</span>18%</div>
      </div><br>
    </div>
    <div class="w3-col m2" style="padding-left: 2rem;padding-top: 1rem;">
      <p><a href="#" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" style="text-decoration: none;">Enroll Now</a>&ensp;
        <a href="#" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" style="text-decoration: none;"><i class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;Share</a>
    </p>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div class="w3-container w3-white" style="padding:128px 50px" id="contact">
  <h3 class="w3-center"><b>CONTACT</b></h3>
  <p class="w3-center w3-large" style="padding-bottom: 25px;">Lets get in touch. Send us a message:</p>
  <div class="w3-col m6" style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Kohli Media LLP.</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +91 1234567890</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: Kohlimediallp@kohli.tel</p>
    <br>
  </div>
  <div class="w3-col m6">
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-black" type="submit" style="text-decoration: none;">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
    </div>
</div>
    <!-- footer -->
	<footer id="footer" style="background-color: #252525;">
		<div id="footer-widgets" class="container style-1">
		   <div class="row">
			  <div class="col-md-4">
				 <div class="widget widget_text">
					
					<div class="textwidget">
					   <h2 class="widget-title"><span><img src="../images/logo-icon.png" alt="" style="width: 50px; height: 40px; margin-top: -10px;">&ensp;KOHLI Media LLP</span></h2>
					   <p>Kohli Company founded in 2006 is a group of businesses, that develop innovative Web-Products serving people worldwide, is now Kohli Media LLP - an Indian Limited Liability Partnership.</p>
					</div>
				 </div>
			  </div>
			  <div class="col-md-4">
				 <div class="widget widget_links">
					<h2 class="widget-title"><span>COMPANY LINKS</span></h2>
					<ul class="wprt-links clearfix col2">
					   <li><a href="https://kohli.company/KOHLI/company">About Company</a></li>
					   <li><a href="https://kohli.company/KOHLI/partner-with-us">Partner With Us</a></li>
					   <li><a href="https://kohli.company/KOHLI/work-with-us">Work With Us</a></li>
					   <li><a href="https://kohli.company/KOHLI/privacy-policy">TOU/Privacy Policy</a></li>
					   
					</ul>
				 </div>
			  </div>
			  <div class="col-md-4">
				 <div class="widget widget_information">
					<h2 class="widget-title"><span>CONTACT INFO</span></h2>
					
				 </div>
				 <div class="widget widget_socials">
					<div class="socials">
					   <a target="_blank" href="https://twitter.com/KohliConnect"><i class="fa fa-twitter"></i></a>
					   <a target="_blank" href="https://www.facebook.com/KohliConnect/"><i class="fa fa-facebook"></i></a>
					   <a target="_blank" href="https://www.instagram.com/KohliConnect"><i class="fa fa-instagram"></i></a>
					   <a target="_blank" href="https://www.linkedin.com/company/kohlicompany/"><i class="fa fa-linkedin"></i></a>
					</div>
					 <!-- android button -->
					 <br>
				 <a class="btn btn-sm android-btn" href="#">
			  <img width="60px" class="pull-left" src="../images/google_play_04.png"><div class="btn-text" style="align-content: center; font-size: 1.4rem;">Available on<br><strong>Google Play</strong></div></a>
				 </div>
				 
			  </div>
		   </div>
		</div>
		<div id="bottom" class="clearfix style-1">
		   <div class="container">
			  <div id="bottom-bar-inner" class="wprt-container">
				 <div class="bottom-bar-inner-wrap">
					<div class="bottom-bar-content">
					   <div id="copyright"><p>All Rights Reserved. Connect Kohli © 2020</p></div>
					   <!-- /#copyright -->
					</div>
					<!-- /.bottom-bar-content -->
					<div class="bottom-bar-menu pull-right">
					   <ul class="bottom-nav">
						  <li><a href="#/">HISTORY</a></li>
						  <li><a href="#/">FAQ</a></li>
						  <li><a href="#/">EVENTS</a></li>
					   </ul>
					</div>
					<!-- /.bottom-bar-menu -->
				 </div>
			  </div>
		   </div>
		</div>
	 </footer>
	 <!-- end footer -->
  <script src="./main1.js"></script>
</body>
</html>