body,h1,h2,h3,h4,h5,h6 {  font-family: "Open Sans", Arial, sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
  font-size: 1.4rem;

}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-color: black;
  min-height: 80%;
  background-size: cover;
}

.w3-bar .w3-button {
  padding: 16px;
}
#myNavbar{
    padding: 1rem;
}
.checked {
  color: orange;
}
.checked-1{
    color: #be5a0e;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: ' \02C5';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: ' \005E';
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p{
    float: left;
  }
 